<! -- index.html -->

.body{
    display:flex;
}

/* You must flex the body*/

.header{
    display:flex;
    justify-content: space-between;
    background-color: lightblue;
    margin: -8px;
}
.logo{
    padding-left: 10px;
    font-weight: bold;
}

.logo, li{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

ul {
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    gap:15px;
    padding: 5px;
}

.first {
    display: flex;
    background-color: lightblue;
}

.left-items{
    display:flex;
    flex-direction: column;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    padding: 15px;
    border-radius: 4px;
    background-color: lightsalmon;
    color:white;
    border:none;
    font-family: 'Courier New', Courier, monospace;
}

button:hover{
    background-color: red;
}

h1{
    color:darkblue;
}

.description{
    color: blue;
}

.third{
    display:flex;
    flex-direction: column;
    flex:auto;
    flex-wrap: nowrap;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}


.fourthings{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.a{
    height:100px;
    width:auto;
    border-style:solid;
    border-color: black;
}

.someinfo{
    display:flex;
    justify-content: center;
}

.fourth{
    background-color:powderblue;
    padding: 80px;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
}

.fifth{
    width:60%;
    background-color: lightblue;
    margin:auto;
    padding:30px;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.secondbutton{
    padding-top: 30px;
}

.footer{
    background-color: lightblue;
    text-align: center;
    margin-bottom: -14px;
    font-family: 'Courier New', Courier, monospace;
    color:darkblue
}


/*.objectpuppy,
.objecthorse,
.objecttiger,
.objectshrine {
    
}

